*{
margin:0;
padding:0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.html{
    overflow: auto;
    -moz-scrollbars-none;
    -ms-overflow-style: hidden;  /* IE and Edge */
}

img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

video{
    border-radius: 10px;
}

ul{
	list-style: none;
}

/*-----------------IDIOMA-----------------*/

.language:hover{
    border-style: solid;
    border-width: 0 0 1px 0;
    cursor: pointer;
}

.language: click{
    display: none;
    display: article;
    will-change: contents;
}

/*
body.pt :lang(en) { 
    display: none; 
}

body.en :lang(pt) { 
    display: none; 
}
*/

/*-----------------ROOTS-----------------*/

::selection {
	background: blue;
    color: var(--corclara);
}

:root{
    --corclara: #F3F3F3;
    --corescura: #2C2C2C;
    --bottom-margin: 1.5vw;
    --margin: 3vw;
    --padding: 2.5vw
}

/*-----------------COLORS-----------------*/

/*
.left {
    background-color: antiquewhite;
}

#esq, #dir, #center, .right, .project {
    background-color: aquamarine;
}
*/

/*-----------------MAIN-----------------*/

body {
    font-family: Work Sans;
    font-weight: 400;
    color: var(--corescura);
    background-color: var(--corclara);
    padding: var(--padding);
}

.content{
    display: grid;
    grid-template-columns: 15% auto;
    grid-gap: 4.5vw;
    grid-template-rows: calc(100vh - var(--margin));
}

.left{
    height: calc(100vh - 3vw);
    width: 15%;
    position: fixed;
}


.right{
    grid-column-start: 2;
/*
    text-align: center;
    position: relative;
*/
}

#projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5vh;
    padding-bottom: var(--bottom-margin);
}

/*-----------------TEXT-----------------*/


#destaque{
    font-weight: 600;
    border-style: solid;
    border-width: 0 0 2px 0;
}


a{
    text-decoration: none;
    color: inherit;
}

#link{
    border-style: solid;
    border-width: 0 0 1px 0;
}

#link:hover{
    opacity: 50%;
}

.PPP{
    line-height: 1.2em;
    font-size: 0.6em;
    letter-spacing: -0.01em;
}

.PP{
    line-height: 1.2em;
    font-size: 0.7em;
    letter-spacing: -0.01em;
}

.P{
    font-size: .92em;
    line-height: 1.35em;
/*    letter-spacing: -0.01em;*/

}

.M{
    font-size: 1.5em;
    line-height: 1.2em;
/*    letter-spacing: -0.03em;*/
}

.G{
    font-size: 2.1em;
    line-height: 1em;
/*    letter-spacing: -0.05em;*/
    font-weight: 450;
}

.GG{
    font-size: 5em;
    line-height: 1.25em;
/*    letter-spacing: -0.05em;*/
}

/*
footer{
    position: fixed;
    bottom: 3vw;
}
*/

#previous{
    float: left;
    padding-bottom: 2vw;
}

#next{
    float: right;
    padding-bottom: 2vw;
}

/*-----------------IMAGE-----------------*/

/*
img{
    border-radius: 10px;
}
*/

.photo{
    display: flex;
    justify-content: space-between;
}

.photoproject{
    margin-bottom: var(--padding)
}

.photo.rotate{
    -moz-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    transform:rotate(720deg);
}

#resume{
    height: calc(100vmin - (2 * var(--padding))) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}


[class*="imageproject-"]{
    width: calc(50% - (var(--bottom-margin) / 2 ));
    margin-bottom: calc(var(--bottom-margin));
    position: relative;
	overflow: hidden;
    display: inline;
}

.imageproject{
    width: 100%;
    margin-bottom: 2vh;
    max-height: 980px;
    object-fit: scale-down;
}

.imageproject-right{
    float: right;
}

.imageproject-left{
    float: left;
}

.imageproject-center{
    display: block;
    margin: auto;
    max-height: 1080px;
}

#cover-left{
    grid-column-start: 1;
}

#cover-right{
    grid-column-start: 2;
}

#cover{
    width: 100%;
    z-index: -100;
/*    margin-bottom: calc(var(--bottom-margin) / 4);*/
    -moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.text{
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
}

[class*="capas"]{
/*    margin-bottom: var(--bottom-margin);*/
    margin-bottom: 1.5vh;
    display: block;
    position: relative;
	overflow: hidden;
    -moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.capas:hover{
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.02);
}

/*-----------------HOVER-----------------*/


/*
img[id*="emartes"]{
    position: fixed;
    transform: translate(-50%,-50%);
    height: 300px;
    z-index:100;
    visibility: hidden;
    pointer-events: none;
    filter: saturate(0);
}

.hover:hover ~ #emartes {
	visibility: visible;
}*/

@media only screen and (max-width: 1600px){
    
    ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
    
    .left{
        overflow-y: scroll;
    }
    
    .G{
        font-size: 1.5em;
    }
    
    .P{
        font-size: .9em;
        line-height: 1.2em;
    }
}

@media only screen and (max-width: 1024px){
    
    .content{
    display: contents;
    }
    
    .left{
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 4vw;;
    }
    
    .right {
        display: block;
        margin-bottom: 2vw;
    }
    
    .imageproject{
        width: 100%;
        margin-bottom: var(--margin);
    }

    .imageproject-right{
        width: 100%;
        margin-bottom: var(--margin);
    }

    .imageproject-left{
        width: 100%;
        margin-bottom: var(--margin);
    }
    
    .photo{
        margin-bottom: var(--padding);
    }
    
    #previous{
        float: left;
        padding-bottom: 12vw;
    }
    #next{
        float: right;
        padding-bottom: 12vw;
    }
    
    footer {
        position: fixed;
        bottom: 3vw;
        z-index: -100;
        mix-blend-mode: difference;
    }
    
    #resume{
        display: block;
        height: auto;
    }
    
    .G{
        font-size: 2.1em;
    }
    
    .P{
        font-size: .92em;
    }
}

@media only screen and (max-width: 700px){
    .capas{
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    .capas:hover{
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    
    #projetos{
        display: block;
    }
}